@import 'variables';

*{
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
.app_container {
  font-family: 'Roboto Slab', sans-serif;
}
.header {
  margin: 0 auto;
  width: 98%;
  height: 60px;
  // border: 2px solid red;
  color: rgb(41, 47, 53);
  display: flex;

  .logo {
    font-weight: 900;
    font-size: 23px;
    align-self: center;
  }
}

.main_container {
  background-color: $app-about-primary-color;
  height: calc(100vh - 61px);
}